<h2>{{title}}</h2>

<div class="body">
  <div *ngIf="selectedHero" class="expand">
    <h2>
      {{selectedHero.name | uppercase}} is my hero
    </h2>
    <button (click)="goToDetail()">View Details</button>
  </div>

<div class="repeat repeat-fade-in" *ngFor="#hero of heroes">
  <quick-card
            class="repeat-fade-in"
            (click)="onSelect(hero)"
            [selected]="hero === selectedHero"
            [name]="hero.name"
            [img]="'https://randomuser.me/api/portraits/med/men/96.jpg'">
    </quick-card>
  </div>
</div>