<link rel="import" href="client/assets/bower_components/google-map/google-map.html">
<link rel="import" href="client/assets/bower_components/google-map/google-map-marker.html">
  
<h2>{{title}}</h2>
  
<google-map latitude="{{lat}}" longitude="{{long}}">
  <google-map-marker latitude="{{lat}}" longitude="{{long}}"></google-map-marker>
</google-map>