<!--<link rel="import" href="../../bower_components/polymer/polymer.html">-->

<link rel="import" href="../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">

<link rel="import" href="../../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">


<dom-module id="page-shell">

  <style>
  
    paper-drawer-panel {
      font-family: Roboto;
      background-color: #ececec;
    }
    
    paper-material {
      background-color: #fff;
      max-width: 640px;
      width: 95%;
      margin: 25px auto;
      position: relative;
    }

    paper-fab {
      position: absolute;
      bottom: 2vh;
      right: 2vw;
    }

    img.profile {
      height:50px;
      width:50px;
      border-radius: 50%;
      border:2px solid white;
    }

    paper-scroll-header-panel {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      /* background for toolbar when it is at its full size */
      --paper-scroll-header-panel-full-header: {
        background-color: #546E7A;
        background-size: cover;
        background-position: 50% 90% !important;
        background-repeat: no-repeat;
        background-image: url(../../img/stormy.png);
      };
      /* background for toolbar when it is condensed */
      --paper-scroll-header-panel-condensed-header: {
        background-color: #546E7A;
        background-color: #3F51E0;
      };
    }
      
    paper-toolbar.tall {
      background-color: transparent;
    }
      
    paper-toolbar.tall #title {
      font-size: 30px;
      margin-left: 60px;
      -webkit-transform-origin: left center;
      transform-origin: left center;
      /* Issue #15 */
      isolation: isolate;
    }
      
    paper-toolbar.tall iron-icon {
      margin: 0 8px;
    }

    paper-toolbar#navheader{
      background-color: #546E7A;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-image: url(../../img/stormy.png);
    }

    .content {
      padding:20px;
      border-left: 2px solid #ececec;
      margin:0 auto;
      width:auto;
    }
  </style>

  <template>
    <paper-drawer-panel id="drawerPanel">
      <!-- Begin drawer -->
      <paper-header-panel mode="scroll" drawer>
        <paper-toolbar id="navheader" class="tall">
          <img class="middle profile" src="[[profilePic]]">
          <div class="bottom layout vertical">
            <span>[[name]]</span>
            <br>
            <span>[[username]]</span>
          </div>
        </paper-toolbar>
        <!-- Begin side bar content -->
        <content id="objects" on-click="toggleDrawer" select="sidebar-item"></content>
        <!-- End side bar content -->
        <!-- End drawer -->
      </paper-header-panel>

      <!-- Begin main -->
      <paper-scroll-header-panel main condenses keep-condensed-header id="paperScroll">
        <paper-toolbar class="tall">
          <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
          <div class="flex"></div>
          <div id="title" class="bottom title">angular2-login-seed</div>
        </paper-toolbar>
        <!-- Begin main body content -->
        <div class="content">
          <content id="objects" select="*"></content>
        </div>
          <!-- End main body content -->
      </paper-scroll-header-panel>
    </paper-drawer-panel>

  </template>
  
  <script>
    Polymer({
      is: 'page-shell',
      properties: {
        name: {
          type: String,
          value: "Name",
          notify: true
        },
        username: {
          type: String,
          value: "username",
          notify: true
        },
        profilePic: {
          type: String,
          value: "https://randomuser.me/api/portraits/men/18.jpg",
          notify: true
        },
        backgroundPic: {
          type: String,
          value: "/client/assets/img/bg.png",
          notify: true
        },
        menuBackgroundPic: {
          type: String,
          value: "/client/assets/img/bg.png",
          notify: true
        }
      },
      ready: function() {
        this.setBackgrounds();
        // forceNarrow = true will make the menu collapse on larger displays by default
        this.$.drawerPanel.forceNarrow = true;
        this.addEventListener('paper-header-transform', function(e) {
          var title = this.$.title;
          var d = e.detail;
          var m = d.height - d.condensedHeight;
          var scale = Math.max(0.75, (m - d.y) / (m / 0.25)  + 0.75);
          Polymer.Base.transform('scale(' + scale + ') translateZ(0)', title);
        });
      },
      toggleDrawer: function() {
        this.$.drawerPanel.togglePanel();
      },
      setBackgrounds: function() {
        // set user's specific background image
        console.log(this.backgroundPic);
        this.$.paperScroll.$.headerBg.style.backgroundImage = "url(" + this.backgroundPic + ")";
        this.$.navheader.style.backgroundImage = "url(" + this.menuBackgroundPic + ")";
      }
    });
    </script>
  </template>
</dom-module>