h2 {
  color:grey;
  color: #3F51E0;
}

.repeat-fade-in {
  animation: fadein 1s cubic-bezier(.27, 1.12, .49, .98);
}

@keyframes fadein {
  from {
    margin-left:40px;
    opacity:0;
  }
  to {
    opacity:1;
  }
}