.content {
  width:100%;
  height:100%;
  background-size: cover;
  background-position: 50% 90% !important;
  background-repeat: no-repeat;
  background-image: url(client/assets/img/bg.png);
}

.paper-card-holder {
  display:block;
  position:fixed;
  left:50%;
  top:50%;
  margin-top: -150px;
  margin-left: -168px;
  max-width:350px;
}

a {
  text-decoration: none;
  color:inherit;
}

paper-card {
  padding:10px;
  text-align:center;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

h2 {
  color:grey
}