<div class="content">
  
  <div class="paper-card-holder">
    <paper-card heading="{{title}}" elevation="5">
      <div class="card-content">Login with one of the providers below</div>
      <div class="card-actions">
        <a href="{{googleLink}}">
          <paper-button raised>
            Google
          </paper-button>
        </a>
        <a href="{{twitterLink}}">
          <paper-button raised>
            Twitter
          </paper-button>
        </a>
      </div>
    </paper-card>
  </div>
  
</div>