<paper-card [class.selected]="selected">
  <img class="profile-picture" src="{{img}}">
  <div class="header">
    <img class="header-image" src="http://www.wallpaperstop.com/wallpapers/space-wallpapers/amazing-space-background-336x210-1002096.jpg">
  </div>
  <div class="card-content">
    <p class="name">{{name}}</p>
    <paper-button raised [class.selected-contrast]="selected">Add Friend</paper-button>
    <paper-button raised [class.selected-contrast]="selected">Profile</paper-button>
  </div>
</paper-card>