<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<dom-module id="sidebar-item">

  <style>

    paper-button {
      border-bottom: 1px solid #dedede;
      background-color: #fafafa;
      display:block;

      text-align: center;
      padding: 25px;
      color: #6f6f6f;
    }

    :host {
    }
  
  </style>

  <template>
    <paper-button>{{label}}</paper-button>
  </template>
  
  <script>
    Polymer({
      is: 'sidebar-item',
      properties: {
        label: {
          type: String,
          value: "Default"
        }
      }
    });
</script>

</dom-module>