.selected {
  background-color: #546E7A;
  background-color: #3F51E0;
  color: white;
}

paper-card {
  display:block;
  /*padding:10px;*/
  padding:0px;
}

paper-card img {
  width:50px;
  height:50px;
  border:2px solid white;
  border-radius:50%;
  vertical-align: middle;
}